<!-- <button (click)="toggleMenu()" class="hamburger">
  <span>toggle menu</span>
</button> -->

<app-menu></app-menu>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="col-md-8 col-md-offset-3" style="height: 500px; top: 60px">

	<div class="row">
	<h2>Drivers list</h2>
	<button class="btn btn-info pull-right" [routerLink]="['/addDriver']"><span class="glyphicon glyphicon-plus"> </span> Add Driver</button>

	</div>
	<br>
	<br>
	<table class="table table-stripped table-responsive">
				<thead>
					<th class="margin">Driver Name</th>
					<th class="margin">Phone</th>
					<th class="margin">Employee Id</th>
					<th class="margin">Status</th>
					<th class="margin">Category</th>
					<th class="margin">Edit</th>
					<th class="margin">Active / InActive</th>
					<!-- <th>Delete</th> -->
				</thead>
				<tr  *ngFor="let driver of drivers" [ngSwitch]="driver.driverStatus">
					<td>{{driver.username}}</td>
					<td>{{driver.phoneNumber}}</td>
					<td>{{driver.employeeId}} </td>
					<!-- <td>{{driver.driverStatus | uppercase}} </td> -->
						<td *ngSwitchCase="'offDuty'" [ngClass]="driver.driverStatus == 'isAvailable' ? 'blueText': 'redText'" title="Driver's current status"  >Off Duty </td>
						<td *ngSwitchCase="'onDuty'" [ngClass]="driver.driverStatus == 'isAvailable' ? 'blueText': 'redText'" title="Driver's current status"  >On Duty </td>
						<td *ngSwitchCase="'assigned'" [ngClass]="driver.driverStatus == 'isAvailable' ? 'blueText': 'redText'" title="Driver's current status"  >Assigned </td>
						<td *ngSwitchCase="'isAvailable'" [ngClass]="driver.driverStatus == 'isAvailable' ? 'blueText': 'redText'" title="Driver's current status"  >Available </td>

					<td>{{driver.driverCategory | uppercase}} </td>
					<td ><a href="/updatedriver/{{driver._id}}"><button class="btn btn-info">Edit</button></a></td>

				<!-- 	<td><button (click)="deleteDriver(driver._id)" *ngIf="driver.driverStatus=='offDuty'" class="btn btn-danger">Delete</button></td> -->
					
						 <td *ngIf="driver.driverStatus=='offDuty'">
							<label class="switch" title="Active/InActive">
							 <input *ngIf="driver.isDeleted==false" checked type="checkbox" (change)="deleteDriver(driver._id, $event)" >
							 <input *ngIf="driver.isDeleted==true"  type="checkbox" (change)="deleteDriver(driver._id, $event)" >
							 <!-- <input *ngIf="driver.driverStatus=='offDuty'" type="checkbox" (change)="updateDriverStatus(driver._id, $event)" > -->
							  <span class="slider round"></span>
							</label>
						</td>
						<td *ngIf="driver.driverStatus=='isAvailable'">
							<label class="switch" title="Active/InActive">
							 <input *ngIf="driver.isDeleted==false" checked type="checkbox" (change)="deleteDriver(driver._id, $event)" >
							 <input *ngIf="driver.isDeleted==true"  type="checkbox" (change)="deleteDriver(driver._id, $event)" >
							 <!-- <input *ngIf="driver.driverStatus=='offDuty'" type="checkbox" (change)="updateDriverStatus(driver._id, $event)" > -->
							  <span class="slider round"></span>
							</label>
						</td>

						<td *ngIf="driver.driverStatus=='onDuty'">
							<label class="switch" title="Active/InActive">
							 <input *ngIf="driver.isDeleted==false" disabled  checked type="checkbox" (change)="deleteDriver(driver._id, $event)" >
							 <input *ngIf="driver.isDeleted==true" disabled   type="checkbox" (change)="deleteDriver(driver._id, $event)" >
							 <!-- <input *ngIf="driver.driverStatus=='offDuty'" type="checkbox" (change)="updateDriverStatus(driver._id, $event)" > -->
							  <span class="slider round"></span>
							</label>
						</td>
						<td *ngIf="driver.driverStatus=='assigned'">
							<label class="switch" title="Active/InActive">
							 <input *ngIf="driver.isDeleted==false"  disabled checked type="checkbox" (change)="deleteDriver(driver._id, $event)" >
							 <input *ngIf="driver.isDeleted==true"   disabled type="checkbox" (change)="deleteDriver(driver._id, $event)" >
							 <!-- <input *ngIf="driver.driverStatus=='offDuty'" type="checkbox" (change)="updateDriverStatus(driver._id, $event)" > -->
							  <span class="slider round"></span>
							</label>
						</td>
						
					
					<!-- <td><button class="btn btn-danger">Delete</button></td> -->
				</tr>
	</table>
</div>