<!-- <button (click)="toggleMenu()" class="hamburger">
  <span>toggle menu</span>
</button> -->

<app-menu></app-menu>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="col-md-8 col-md-offset-3" style="height: 500px; top: 60px">

	<div class="row">
	<h2>Update Driver</h2>
	<p class="btn btn-info" [routerLink]="['/drivers']"><span class="glyphicon glyphicon-menu-left"></span> Back</p>
	</div>
	<br>
	<br>
	
	<div class="col-md-8">
		<form #f="ngForm" (ngSubmit)="updateDriverSubmit(f.value)" class="form-horizontal">

	      <div class="form-group row" >
	        <label for="username" class="col-sm-4 control-label">Username</label>

	        <div class="col-sm-8">
	          <input [(ngModel)]="username" type="text" name="username" class="form-control" id="username" placeholder="Username" [value]="username" required>
	        </div>
	      </div>

	      <!-- <div class="form-group row" >
	        <label for="passwordemail" class="col-sm-4 control-label">Create New Password</label>

	        <div class="col-sm-8">
	          <input [(ngModel)]="password" type="text"  name="password" class="form-control" id="passwordemail" placeholder="New Password"  required>
	        </div>
	      </div> -->

	      <div class="form-group row">
	        <label for="phoneNumber" class="col-sm-4 control-label">Mobile (10 digit number)</label>

	        <div class="col-sm-8">
	          <input [(ngModel)]="phoneNumber" type="text" name="phoneNumber" class="form-control" id="phoneNumber" placeholder="Phone Number" pattern="^[789]\d{9}$" maxlength="10" [value]="phoneNumber" required>
	        </div>
	      </div>

	    

	      <div class="form-group row" >
	        <label for="category" class="col-sm-4 control-label">Category</label>

	        <div class="col-sm-8">
	          <select [(ngModel)]="driverCategory" [value]="driverCategory" class="form-control" name="driverCategory" id="driverCategory" required>
	            <option selected disabled>Select Category</option>
	            <option value="als">ALS</option>
	            <option value="bls">BLS</option>
	            <option value="transport">Transport</option>
	            <option value="others">Others</option>
	          </select>
	        </div>
	      </div>
	      <div class="form-group row">
	        <label for="employeeIdr" class="col-sm-4 control-label">Employee Id</label>

	        <div class="col-sm-8">
	          <input [(ngModel)]="employeeId" [value]="employeeId" type="text" name="employeeId" class="form-control" id="employeeId" placeholder="Employee Id" required>
	        </div>
	      </div>
	      <div class="form-group row">
	        <label for="driverLicenseNumber" class="col-sm-4 control-label">Driver License Number</label>

	        <div class="col-sm-8">
	          <input [(ngModel)]="driverLicenseNumber" [value]="driverLicenseNumber" type="text" name="driverLicenseNumber" class="form-control" id="driverLicenseNumber" placeholder="Driver License Number" required>
	        </div>
	      </div>
	      <div class="form-group row">
	        <p class="col-sm-4 control-label" style="color: #FF5722">All feilds are required * </p>

	        <div class="col-sm-8">
	        </div>
	      </div>
	      <div class="form-group row">
	       

	        <div class="col-md-offset-4 col-sm-7">
	          <h4 style="text-align: center;">{{errmsg}}</h4>
	        </div>
	      </div>
	      
	      <div class="form-group">
			    <div class="col-sm-offset-6 col-sm-6">
			      <button  [disabled]="!f.valid" type="submit" class="btn btn-info">Update Driver Details</button>
			     <!--  <input type="reset" name="reset" class="btn btn-danger"> -->
			    </div>
			  </div>
	    </form>

	</div>
</div>