<!-- <button (click)="toggleMenu()" class="hamburger">
  <span>toggle menu</span>
</button> -->

<app-menu></app-menu>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div class="col-md-8 col-md-offset-3" style="height: 500px; top: 60px">

	<div class="row">
	<h2>Ambulance list</h2>
	<button class="btn btn-info pull-right" [routerLink]="['/addAmbulance']"><span class="glyphicon glyphicon-plus"> </span> Add Ambulance</button>

	</div>
	<br>
	<br>
	<table class="table table-hover table-striped">
	 	<thead>
	 		<th class="margin">Sl</th>
	 		<th class="margin">Vehicle Number</th>
	 		<th class="margin">RC Number</th>
	 		<th class="margin">Ambulance Category</th>
	 		<th class="margin">RC</th>
	 		<th class="margin">Action</th>
	 		<th class="margin">Active/InActive </th>

	 	</thead>
	 	<tr *ngFor="let ambulance of ambulances; let i = index">
	 		<td>{{i+1}}</td>
	 		<td>{{ambulance.vehicleNumber}}</td>
	 		<td>{{ambulance.rcNumber}}</td>
	 		<td>{{ambulance.ambulanceCategory | uppercase}} </td>
	 		<td width="20%" style="overflow: hidden"> 
	 			<a [href]="imgUrl+ambulance.imageUrl" target="_blank"><img [src]="imgUrl+ambulance.imageUrl"  width="200px" height="200px"></a>
	 		</td>
	 		<td><a href="/updateambulance/{{ambulance._id}}"><button class="btn btn-info">Edit</button></a></td>
	 		<!-- <td><button (click)="deleteAmbulance(ambulance._id)" *ngIf="ambulance.ambulanceStatus !=='onDuty'"  class="btn btn-danger">Delete</button></td> -->
	 		<td >
							<label class="switch" title="Active/InActive ">
							 <input *ngIf="ambulance.isDeleted==false" checked type="checkbox" (change)="deleteAmbulance(ambulance._id, $event)" >
							 <input *ngIf="ambulance.isDeleted==true"  type="checkbox" (change)="deleteAmbulance(ambulance._id, $event)" >
							 <!-- <input *ngIf="driver.driverStatus=='offDuty'" type="checkbox" (change)="updateDriverStatus(driver._id, $event)" > -->
							  <span class="slider round"></span>
							</label>
						</td>
						
	 	</tr>
	 	
	</table>
</div>


<!-- <td><img src="http://139.162.19.186/Hospitalapp/bnb-node/media/hospitals/{{ambulance.hospitalId}}/ambulance/images/{{ambulance.imageUrl}}" width="300px" height="auto"> </td> -->