<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="auth-main">
  <div class="auth-block" style="text-align: center">
  	<img src="../assets/bnb_logo.png" class="logo">
    <h3>Sign in to Hospital - Admin</h3>
    <a [routerLink]="['/register']" class="auth-link">New to Breath & Beats ? Sign up!</a>

		<form class="form-horizontal" #f="ngForm" (ngSubmit)="loginSubmit(f.value)">
		  <div class="form-group">
		    <label for="username" class="col-sm-2 control-label">Username</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="username" name="username" required>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label"  >Password</label>
		    <div class="col-sm-10">
		      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password" [(ngModel)]="password" required>
		    </div>
		  </div>
		  <!-- <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <div class="checkbox">
		        <label>
		          <input type="checkbox"> Remember me
		        </label>
		      </div>
		    </div>
		  </div> -->
		  <div class="form-group">
		    <div class="col-sm-offset-1 col-sm-10">
		      <button type="submit" class="btn btn-default">Sign in</button>
		    </div>
		  </div>
		</form>
		<p><a href="/forgot-password">Forgot Password ?</a></p>
		

 	<div class="alert alert-danger" role="alert" *ngIf="error"> {{msg}} </div>
  
  </div>

</div>