
  
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style=" background-color: #fff; border-color: #fff;box-shadow: 1px 1px 1px #dedede70;">
		<div class="container-fluid">
			<div class="navbar-header">
    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
    			</button>
                <div  class="navbar-brand">
                    
    				<h3  [routerLink]="['/dashboard']" class="title"><img src="../assets/bnb_logo.png" style="
    				height: 27px;"></h3>
                </div>
			</div>
			<!-- <div id="navbarx" class="collapse navbar-collapse">
		        <nav id="spy">
		            <ul class="sidebar-nav nav">
		                <li class="sidebar-brand">
		                    <a href="#home"><span class="fa fa-home solo">Home</span></a>
		                </li>
		                <li>
		                    <a href="#anch1">
		                        <span class="fa fa-anchor solo">Anchor 1</span>
		                    </a>
		                </li>
		                <li>
		                    <a href="#anch2">
		                        <span class="fa fa-anchor solo">Anchor 2</span>
		                    </a>
		                </li>
		                <li>
		                    <a href="#anch3">
		                        <span class="fa fa-anchor solo">Anchor 3</span>
		                    </a>
		                </li>
		                <li>
		                    <a href="#anch4">
		                        <span class="fa fa-anchor solo">Anchor 4</span>
		                    </a>
		                </li>
		            </ul>
		        </nav>
		    </div> -->
		</div>
	</nav>
	
  <nav id="navbar" class="collapse navbar-collapse header">
	<ul>
	  <a href="/dashboard"> <li>Home</li></a>
	  <a href="/drivers"><li>Drivers</li></a>
	  <a href="/ambulance"><li>Ambulance</li></a>
	  <a href="/log"><li>Track / Logs</li></a>
	  <a href="/profile"><li>Profile</li></a>
	  <a (click)="logout()"><li>Logout</li></a>
	</ul>
   </nav>

   <script type="text/javascript">
   	$("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
        alert(1);
    });
   </script>