.header {
  background: #fff;
  box-shadow: 1px 1px 0px 0px #99949463;;
  color: #eee;
  position: fixed;
  left: 0;
  top: 50px;
  right: auto;
  bottom: 0;
  width: 18%;
  min-width: 250px;
  z-index: 55;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
 
ul {
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  padding-top: 0px;
  list-style: none;
  
}
li{
  cursor: pointer;
}
li:hover{
  cursor: pointer;
  
  font-size: 1.1em;
}

.title{
  text-align: center; 
   color: #fff;
  cursor: pointer;
  margin: 0px;
  position: relative;
    left: 220%;

}


a{
  color : grey;
  text-decoration: none;
  font-size: 15px;
}

a:hover{
  color: #aaa;
  text-decoration: none;
}