
<app-menu></app-menu>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div class="col-md-8 col-md-offset-3" style="height: 500px; top: 60px">

	<div class="row">
	<h2>Track Trip</h2>
	<p class="btn btn-info" [routerLink]="['/log']"><span class="glyphicon glyphicon-menu-left"></span> Back</p>
	</div>
	<br>
	<br>
	
	<div class="col-md-12" style="line-height: 30px;margin-bottom: 50px">
		<div class="col-md-6">
			<p>
				<b>Date : </b> {{createdAt  | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}} <br>
				<b>Customer Name : </b> {{name}} <br>
				<b>Phone : </b> {{phoneNumber}}<br>
				<b>Emergency Category : </b> {{emergencyType}} <br>
				<b>Vehicle Number : </b> {{vehicleNumber}} <br>
			</p>	
		</div>
		<div class="col-md-6">
			
				<b>Trip Status : </b> {{tripStatus}} <br>
				<div *ngIf="pay">
				<b>Payment Status : </b> {{paymentStatus}} <br>
				<b>Total Fare : </b> ₹ {{totalFare}}  <br>
				</div>
				<b>Driver Name : </b> {{username}}<br>
				<b>Driver phoneNumber : </b> {{driverPhoneNumber}}<br>
				<b>Pick up Location : </b> {{userAddress}} <br>
				
		</div>
		<div class="col-md-12" *ngIf="mapTrue">
			  <agm-map 
				  [latitude]="lat"
				  [longitude]="lng"
				  [zoom]="zoom"
				  [disableDefaultUI]="false"
				  [zoomControl]="true">

				  <agm-marker 
				      *ngFor="let m of markers; let i = index"
				      (markerClick)="clickedMarker(m.label, i)"
				      [latitude]="m.lat"
				      [longitude]="m.lng"
				      [label]="m.label"
				      [markerDraggable]="m.draggable"
				      (dragEnd)="markerDragEnd(m, $event)">
				      
				    <agm-info-window>
				      <strong>InfoWindow content</strong>
				    </agm-info-window>
				    
				  </agm-marker>

				</agm-map>

				<div class="col-md-3">
					<b>U</b> - User 
				</div>
				<div class="col-md-3">
					<b>D</b> - Driver
				</div>
		</div>

	
	</div>	

</div>

