<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style=" background-color: #777; border-color: #00bcd4;">
		<div class="container-fluid">
			<div class="navbar-header">
    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
    			</button>
                <div  class="navbar-brand">
                    
    				<h3  class="title"><img src="../assets/bnb_logo.png" style="
    				height: -webkit-fill-available;"></h3>
                </div>
			</div>
			
		</div>
	</nav>

	<div class="center">
		<img src="../assets/clock.gif">
		<div class="message">
			<h2>Your Request for <img src="../assets/bnb_logo.png" class="log"> Hospital is under Verification.</h2>
			<!-- <a href="#" (click)="refresh()"><h4 class="logout"><span  class="repeatIcon glyphicon glyphicon-refresh"> </span> Refresh</h4></a> -->
			<!-- <h4 (click)="refresh()" class="logout" > <span  class="repeatIcon glyphicon glyphicon-refresh"> </span> Refresh </h4> -->
		</div>
	</div>