.header {
  background: #00BCD4;
  box-shadow: 4px 3px 11px 3px #999494;
  color: #eee;
  position: fixed;
  left: 0;
  top: 50px;
  right: auto;
  bottom: 0;
  width: 18%;
  min-width: 250px;
  z-index: 55;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
 
ul {
  font-size: 18px;
  line-height: 3;
  font-weight: 400;
  padding-top: 0px;
  list-style: none;
  
}
li{
  cursor: pointer;
}
li:hover{
  cursor: pointer;
  
  font-size: 1.1em;
}

.title{
  text-align: center; 
   color: #fff;
  cursor: pointer;
  margin: 0px;

}


a{
  color : #00BCD4;
  text-decoration: none
}

a:hover{
  color: #00BCD4;
  text-decoration: none;
}

.center {
    margin: auto;
    width: 60%;
    text-align: center;
}

.message {
    position: relative;
    top: -100px;
}

.log{
  height: 25px;
    margin-bottom: inherit;
}

.logout{
      font-weight: 900;
      color : #00BCD4;
}