<!-- <button (click)="toggleMenu()" class="hamburger">
  <span>toggle menu</span>
</button> -->

<app-menu></app-menu>


<div class="col-md-8 col-md-offset-3" style="height: 500px; top: 60px">

	<div class="row">
	<h2>Add Ambulance</h2>

	</div>
	<br>
	<br>
	
	<div class="col-md-8">
		<form #f="ngForm" (ngSubmit)="addAmbulance(f.value)" class="form-horizontal" enctype="multipart/form-data">

	      
	      

	      <div class="form-group row">
	        <label for="vehicleNumber" class="col-sm-2 control-label">Vehicle number</label>

	        <div class="col-sm-10">
	          <input [(ngModel)]="vehicleNumber" type="text" name="vehicleNumber" class="form-control" id="vehicleNumber" placeholder="Vehicle Number" required>
	        </div>
	      </div>

	    

	      <div class="form-group row" >
	        <label for="ambulanceCategory" class="col-sm-2 control-label">Ambulance Type</label>

	        <div class="col-sm-10">
	          <select [(ngModel)]="ambulanceCategory" class="form-control" name="ambulanceCategory" id="ambulanceCategory" required>
	            <option selected disabled>Select Category</option>
	            <option value="als">ALS</option>
	            <option value="bls">BLS</option>
	            <option value="transport">Transport</option>
	            <option value="others">Deceased Transport with Freezer Box</option>
	          </select>
	        </div>
	      </div>
	      <div class="form-group row" >
	        <label for="rcNumber" class="col-sm-2 control-label">RC Number</label>

	        <div class="col-sm-10">
	          <input [(ngModel)]="rcNumber" type="text" name="rcNumber" class="form-control" id="rcNumber" placeholder="RC Number" required>
	        </div>
	      </div>

	      <div class="form-group row" >
	        <label for="file" class="col-sm-2 control-label">Upload RC photo</label>

	        <div class="col-sm-10">
	          <input [(ngModel)]="file" (change)="fileUpload($event)" type="file"  name="file" class="form-control" #myInput placeholder="Upload RC photo" accept="image/*">
	          <div *ngIf="fileError">
		      	<p style="color: #f44336">** Please Select the File ( .jpg , .png, .jpeg )</p>
		      </div>
	        </div>
	      </div>
	      <h5>{{errmsg}} </h5>
	      <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button [disabled]="!f.valid" type="submit" class="btn btn-success">Add Ambulance</button>
			      <button type="reset" class="btn btn-danger">Reset</button>
			    </div>
			  </div>
	    </form>
	</div>
</div>