<!-- <button (click)="toggleMenu()" class="hamburger">
  <span>toggle menu</span>
</button> -->

<app-menu></app-menu>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div class="col-md-8 col-md-offset-3" style="height: 500px; top: 60px">

	<div class="row">
	<h2>Update Ambulance</h2>
	<p class="btn btn-info" [routerLink]="['/ambulance']"><span class="glyphicon glyphicon-menu-left"></span> Back</p>
	</div>
	<br>
	<br>


	
	<div class="col-md-6">
		<form #f="ngForm" (ngSubmit)="updateambulancesubmit(f.value)" class="form-horizontal" enctype="multipart/form-data">

	      <div class="form-group row" >
	        <label for="rcNumber" class="col-sm-3 control-label">RC Number</label>

	        <div class="col-sm-9">
	          <input [(ngModel)]="rcNumber" [value]="rcNumber" type="text" name="rcNumber" class="form-control" id="rcNumber" placeholder="RC Number" required>
	        </div>
	      </div>

	      <!-- <div class="form-group row" >
	        <label for="file" class="col-sm-2 control-label">Upload RC photo</label>

	        <div class="col-sm-10">
	          <input [(ngModel)]="file" (change)="fileUpload($event)" type="file"  name="file" class="form-control" id="file" placeholder="Upload RC photo" accept="image/*">
	        </div>
	      </div> -->

	      <div class="form-group row">
	        <label for="vehicleNumber" class="col-sm-3 control-label">Vehicle number</label>

	        <div class="col-sm-9">
	          <input [(ngModel)]="vehicleNumber" [value]="vehicleNumber" type="text" name="vehicleNumber" class="form-control" id="vehicleNumber" placeholder="Vehicle Number" required>
	        </div>
	      </div>

	    

	      <div class="form-group row" >
	        <label for="ambulanceCategory" class="col-sm-3 control-label">Ambulance Type</label>

	        <div class="col-sm-9">
	          <select [(ngModel)]="ambulanceCategory" [value]="ambulanceCategory" class="form-control" name="ambulanceCategory" id="ambulanceCategory" required>
	            <option selected disabled>Select Category</option>
	            <option value="als">ALS</option>
	            <option value="bls">BLS</option>
	            <option value="transport">Transport</option>
	            <option value="other">Deceased Transport with Freezer Box</option>
	          </select>
	        </div>
	      </div>
	      <h5 style="color:#00BCD4;text-align: center ">{{errmsg}} </h5>
	      <div class="form-group">
			    <div class="col-sm-12" style="text-align: center;">
			      <button [disabled]="!f.valid" type="submit" class="btn btn-success">Update Ambulance</button>
			    </div>
			  </div>
	    </form>
	</div>

	<div class="col-md-6">
		
		<div class="form-group row" >

	        <label for="file" class="col-sm-2 control-label">Change RC photo</label>

	        <div class="col-sm-6">
	          <input [(ngModel)]="file" (change)="fileUpload($event)" type="file"  name="file" class="form-control" id="file" placeholder="Upload RC photo" accept="image/*">
	        </div>

			    <div class="col-sm-4" style="text-align: center;">
			      <button  type="button" class="btn btn-success" (click)="updateRc()" >Update RC</button>
			    </div>
			 <h5 style="color:#00BCD4;text-align: center ">{{rcmsg}} </h5> 
			 <div *ngIf="fileError">
		      	<p style="color: #f44336">** Please Select the File ( .jpg , .png, .jpeg )</p>
		      </div>
	      </div>
	    	
	     	 
		 <a [href]="imgUrl+ambulanceimageUrl" target="_blank"><img [src]="imgUrl+ambulanceimageUrl"  width="80%" ></a>
	</div>
</div>