
<app-menu></app-menu>

<div class="col-md-8 col-md-offset-3" style="position:relative; top: 100px">
	<div class="row">
		<form #f="ngForm" (ngSubmit)="submit(f.value)" class="form-horizontal">

	    	<div class="col-md-6 rightBorder">
	    		
			      <div class="form-group row" >
			        <label for="hospitalName" class="col-sm-2 control-label">Hospital</label>

			        <div class="col-sm-10">
			          <input [(ngModel)]="hospitalName"  name="hospitalName" type="text" class="form-control" id="hospitalName" placeholder="Hospital Name">
			        </div>
			      </div>

			      <div class="form-group row" >
			        <label for="username" class="col-sm-2 control-label">Username</label>

			        <div class="col-sm-10">
			          <input [(ngModel)]="username" type="text" name="username" class="form-control" id="username" placeholder="Username">
			        </div>
			      </div>

			      <div class="form-group row">
			        <label for="phoneNumber" class="col-sm-2 control-label">Phone</label>

			        <div class="col-sm-10">
			          <input [(ngModel)]="phoneNumber" type="text" name="phoneNumber" class="form-control" id="phoneNumber" placeholder="Phone Number">
			        </div>
			      </div>

			      <div class="form-group row" >
			        <label for="address" class="col-sm-2 control-label">Address</label>

			        <div class="col-sm-10">
			           <textarea placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl" [(ngModel)]="address">
			         	</textarea>	

			        </div>
			      </div>


			      <div class="form-group row">
			        <label for="email" class="col-sm-2 control-label">Email</label>

			        <div class="col-sm-10">
			          <input [(ngModel)]="email" type="email" name="email" class="form-control" id="email" placeholder="Email" required>
			        </div>
			      </div>

			      <div class="form-group row" >
			        <label for="category" class="col-sm-2 control-label">Category</label>

			        <div class="col-sm-10">
			          <select [(ngModel)]="category" class="form-control" name="category" id="category">
			            <option selected disabled>Select Category</option>
			            <option value="hospital">Hospital</option>
			            <option value="clinic">Clinic</option>
			          </select>
			        </div>
			      </div>

			      <div class="form-group row" >
			        <label for="category" class="col-sm-2 control-label">Services Offered</label>

			        <div class="col-sm-5">
			        		<h4>Pick Up</h4>
			        	   <label class="switch">
							  <input [(ngModel)]="pickup" type="checkbox" checked name="pickup" id="pickup">
							  <span class="slider round"></span>
							</label>
			         
			        </div>
			        <div class="col-sm-5">
							<h4>Drop</h4> 
							<label class="switch">
							  <input [(ngModel)]="drop" type="checkbox" name="drop" id="drop">
							  <span class="slider round"></span>
							</label>
			         
			        </div>
			      </div>

			     	 
	    	</div>
	    	<div class="col-md-6">
	    		<h4>Working Days & Working Hours :</h4>
	    		<table class="">
	    		
	    			<tr>
						<td>
							<label class="switch">
							  <input type="checkbox" checked [(ngModel)]="monday" name="monday" id="monday">
							  <span class="slider round"></span>
							</label>
						</td>
						<td>MON</td>
						<td>
							From <input type="time" name="monFrom" class="form-control" checked [(ngModel)]="monFrom" name="monFrom" id="monFrom">
						</td>
						<td>
							To <input type="time" name="monTo" class="form-control" checked [(ngModel)]="monTo" name="monTo" id="monTo">
						</td>
					</tr>

					<tr>
						<td>
							<label class="switch">
							  <input type="checkbox" checked [(ngModel)]="tuesday" name="tuesday" id="tuesday">
							  <span class="slider round"></span>
							</label>
						</td>
						<td>TUE</td>
						<td>
							From <input type="time" name="tueFrom" class="form-control" checked [(ngModel)]="tueFrom" name="tueFrom" id="tueFrom">
						</td>
						<td>
							To <input type="time" name="tueTo" class="form-control" checked [(ngModel)]="tueTo" name="tueTo" id="tueTo">
						</td>
					</tr>

					<tr>
						<td>
							<label class="switch">
							  <input type="checkbox" checked [(ngModel)]="wednesday" name="wednesday" id="wednesday">
							  <span class="slider round"></span>
							</label>
						</td>
						<td>WED</td>
						<td>
							From <input type="time" name="wedFrom" class="form-control" checked [(ngModel)]="wedFrom" name="wedFrom" id="wedFrom">
						</td>
						<td>
							To <input type="time" name="wedTo" class="form-control" checked [(ngModel)]="wedTo" name="wedTo" id="wedTo">
						</td>
					</tr>

					<tr>
						<td>
							<label class="switch">
							  <input type="checkbox" checked [(ngModel)]="thursday" name="thursday" id="thursday">
							  <span class="slider round"></span>
							</label>
						</td>
						<td>THU</td>
						<td>
							From <input type="time" name="thuFrom" class="form-control" checked [(ngModel)]="thuFrom" name="thuFrom" id="thuFrom">
						</td>
						<td>
							To <input type="time" name="thuTo" class="form-control" checked [(ngModel)]="thuTo" name="thuTo" id="thuTo">
						</td>
					</tr>

					<tr>
						<td>
							<label class="switch">
							  <input type="checkbox" checked [(ngModel)]="friday" name="friday" id="friday">
							  <span class="slider round"></span>
							</label>
						</td>
						<td>FRI</td>
						<td>
							From <input type="time" name="friFrom" class="form-control" checked [(ngModel)]="friFrom" name="friFrom" id="friFrom">
						</td>
						<td>
							To <input type="time" name="friTo" class="form-control" checked [(ngModel)]="friTo" name="friTo" id="friTo">
						</td>
					</tr>

					<tr>
						<td>
							<label class="switch">
							  <input type="checkbox" checked [(ngModel)]="saturday" name="saturday" id="saturday">
							  <span class="slider round"></span>
							</label>
						</td>
						<td>SAT</td>
						<td>
							From <input type="time" name="satFrom" class="form-control" checked [(ngModel)]="satFrom" name="satFrom" id="satFrom">
						</td>
						<td>
							To <input type="time" name="satTo" class="form-control" checked [(ngModel)]="satTo" name="satTo" id="satTo">
						</td>
					</tr>

					<tr>
						<td>
							<label class="switch">
							  <input checked type="checkbox"  [(ngModel)]="sunday" name="sunday" id="sunday">
							  <span class="slider round"></span>
							</label>
						</td>
						<td>SUN</td>
						<td>
							From <input [ngModel]="sunFrom" type="time" name="satFrom" class="form-control"   name="sunFrom" id="sunFrom" checked>
						</td>
						<td>
							To <input type="time" name="sunTo" class="form-control"  [(ngModel)]="sunTo" name="sunTo" id="sunTo" checked>
						</td>

					</tr>




					
	    		</table>
	    
	    	</div>
	    	<div class="form-group">
					    <div class="col-md-offset-5 col-md-7">
					      <button  type="submit" class="btn btn-info btn-large">UPDATE</button>
					    </div>
					  </div>
			  </form>
	    </div>
</div>