agm-map {
      height: 350px;
    }
.rightBorder{
  border-right: 0px dashed #aaa;
}

.profile{
	
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 2px 10px -1px rgba(0,0,0,0.12);
	height: 1000px;
    background-color: #eee;
    box-shadow: 0px 0px 20px 0px #9d9d9d;
    position: fixed;
    top: 50px;
    right: 0px;
    color: #777;
}
td{
  padding: 2px 15px;
}
.transTable{
	text-align: left
}
.tabs{
	
    margin: 5px;
    padding: 5px;
}
.list{
	height: 270px;
	overflow-y: auto;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}