
<app-menu></app-menu>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="col-md-8 col-md-offset-3" style="position:relative; top: 100px">
	<div class="row">
		<div class="row">
    	<div class="col-md-6">
    		<form #f="ngForm" (ngSubmit)="updateProfile(f.value)" class="form-horizontal" > 

		      <div class="form-group row" >
		        <label for="hospitalName" class="col-sm-2 control-label">Hospital</label>

		        <div class="col-sm-10">
		          <input [(value)]="name" [(ngModel)]="name"   name="name" type="text" class="form-control" id="name" placeholder="Hospital Name">
		        </div>
		      </div>

		     

		      <div class="form-group row">
		        <label for="phoneNumber" class="col-sm-2 control-label">Phone</label>

		        <div class="col-sm-10">
		          <input [(value)]="phoneNumber" [(ngModel)]="phoneNumber"  type="text" name="phoneNumber" class="form-control" id="phoneNumber" placeholder="Phone Number" maxlength="10">
		        </div>
		      </div>

		      <div class="form-group row" >
		        <label for="address" class="col-sm-2 control-label">Address</label>

		        <div class="col-sm-10">
		         
		           <textarea [(value)]="completeAddr" name="address" rows="4" placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"  #search [formControl]="searchControl" [(ngModel)]="address" ></textarea>
		          	

		        </div>
		      </div>


		      <div class="form-group row">
		        <label for="email" class="col-sm-2 control-label">Email</label>

		        <div class="col-sm-10">
		          <input [(value)]="emailId" [(ngModel)]="emailId"  type="emailId" name="emailId" class="form-control" id="email" placeholder="Email" required>
		        </div>
		      </div>

		      <div class="form-group row" >
		        <label for="category" class="col-sm-2 control-label">Category</label>

		        <div class="col-sm-10">
		          <select [(value)]="category" [(ngModel)]="category" class="form-control" name="category" id="category" placeholder="Select Category">
		            <option value="" selected disabled>Select Category</option>
		            <option value="hospital">Hospital</option>
		            <option value="clinic">Clinic</option>
		          </select>
		        </div>
		      </div>

		   
		      <h5 style="color: red;">{{errmsg}}</h5>
		      <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button  type="submit" class="btn btn-info" >Update Profile</button>
				    </div>
				  </div>
				<br><br>
				  
		    </form>
    	</div>
    	<div class="col-md-6">
    		<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
	        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
	      </agm-map>
	      <br><br>

    	</div>
    </div>
	 </div>
</div>

<script>
        angular.module('example', ['google.places'])
                // Setup a basic controller with a scope variable 'place'
                .controller('MainCtrl', function ($scope) {
                    $scope.place = null;
                });
</script>