
.margin{
  padding: 6px;
}
.hospitalName{
  text-align: center;
  color: #adadadc2;
  font-stretch: condensed;
}
.blueText{
  color: #00BCD4
}
.redText{
  color: #fe6b6b;
}
.tag{
    color: #fff;
    background-color: #fe6b6b;
    border-color: #F44336;
    padding: 0px 6px;
        display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: -3px 3px 7px 0px #9E9E9E;
}

#map {
        height: 200px;
        width: 100%;
       }

       agm-map {
      height: 200px;
    }
.alert-text{
    font-size: 15px;
    font-family: cursive;
}
.refresh{
      color: #00BCD4;
    cursor: pointer;
}
.acceptedReq{
      width: 100%;
    height: auto;
    background-color: #fd000094;
    padding: 16px 40px;
    box-shadow: -7px 4px 10px 0px #adaaaa;
    color: white;
    cursor: pointer;
    margin-bottom: 50px;
}
.repeatIcon{
  color: #00BCD4;
  cursor: pointer;
}
.inrequests{
  height: 100%;
  overflow: auto;
}
.profile{
	
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 2px 10px -1px rgba(0,0,0,0.12);
	height: 1000px;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px #9d9d9d;;
    position: fixed;
    top: 50px;
    right: 0px;
    color: #777;
}
table tr td, table tr th{
    border:none;
    text-align: left;
}
.transTable{
	text-align: left
}
.tabs{
	
    margin: 5px;
    padding: 5px;
}
.list{
	height: 270px;
	overflow: hidden;
}
.list:hover{
  height: 270px;
  overflow: overlay;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}