<!-- <button (click)="toggleMenu()" class="hamburger">
  <span>toggle menu</span>
</button> -->

<app-menu></app-menu>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div class="col-md-9 col-md-offset-3" style="height: 500px; top: 60px">
	<div class="row">
		<div class="col-md-6">
			<div class="hospitalName">
				<h3><b>{{hospitalName | uppercase }} </b> </h3>
				<!-- <hr style="margin: 0px"> -->
		</div>
		</div>
	</div>		
	<div class="row">
		
		<div class="col-md-6 home" >
			<div *ngIf="acceptedTripAlert">
				<div class="acceptedReq" (click)="showYetToBeAssignedRequests()" >
					<div class="row">
						<div class="col-md-2">
							<span class="glyphicon glyphicon-bullhorn" style="font-size: -webkit-xxx-large;"></span>
						</div>
						<div class="col-md-10">
						<span class="alert-text">
						You have accepted the trip/s but not assigned the driver & Ambulance. Please click here to assign.
						</span>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="yetToBeAssigned" class="inrequests">
				<h2>Accepted Requests <abbr title="Click to refresh/load new incoming requests">
				<span (click)="refresh()" class="repeatIcon glyphicon glyphicon-refresh pull-right"> </span></abbr></h2> 
			
				<hr>
				<div class="col-md-12 tabs" *ngFor="let lead of acceptedLeads">
					<table class="table transTable">
						<thead>
							<th width="35%"></th>
							<th width="70%"></th>
						</thead>
						<tr *ngIf="lead.trip.isScheduledBooking==true">
							<td>
								<p class="tag"><span class="glyphicon glyphicon-tag"></span> scheduled trip</p>
								<b class="pull-right"><br>Scheduled  : </b> 
							</td>
							<!-- <td>{{lead.trip.scheduledOnAppTime | date:'medium'}}</td> -->
							<td>
								<br><br>
								<span>{{lead.trip.scheduledOnAppTime | amFromUtc | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</span>  <span style="color: #ff3d00;font-size:20px;vertical-align: middle;" class="glyphicon glyphicon-time"></span>
								<br><small><b>( {{lead.trip.scheduledOnAppTime | amFromUtc | amCalendar}} )</b></small>
							</td>
						</tr>
						<tr>
							<td class="pull-right"><b>Requested : </b> </td>
							<td>{{lead.trip.createdAt | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</td>
						</tr>
						<tr>
							<td class="pull-right"><b>Emergency Type: </b> </td>
							<td>{{lead.trip.emergencyType | uppercase}}</td>
						</tr>
						<tr>
							<td class="pull-right"><b>Customer Location : </b> </td>
							<td>{{lead.trip.userAddress}} </td>
						</tr>
						<tr>
							<td class="pull-right"><b>Customer Name : </b> </td>
							<td>{{lead.trip.user.name}} </td>
						</tr>
						<tr>
							<td class="pull-right"><b>Mobile : </b> </td>
							<td>{{lead.trip.user.phoneNumber}}</td>
						</tr>
						<tr>
							<td colspan="2">
								<agm-map [latitude]="lead.trip.location.coordinates[1]" [longitude]="lead.trip.location.coordinates[0]" [scrollwheel]="false" [zoom]="12">
						        <agm-marker [latitude]="lead.trip.location.coordinates[1]" [longitude]="lead.trip.location.coordinates[0]"></agm-marker>
						      </agm-map>
							</td>
						</tr>
						<tr>
							<td class="pull-right"><button title="Assign Driver & Ambulance to this request (Note: Please ensure driver & ambulance are available before accepting.)" class="btn btn-success" (click)="assignDriverAmbulance(lead.trip._id)" >Assign Driver & Ambulance</button></td>
							<td><button class="btn btn-danger" title="Reject This request" (click)="rejectTrip(lead.trip._id)" >Reject</button></td>
						</tr>
					</table>
					<hr>
				</div>

			</div>

			<div *ngIf="titleDiv">
				<h2>Incoming Requests <abbr title="Click to refresh/load new incoming requests">
					<span (click)="refresh()" class="repeatIcon glyphicon glyphicon-refresh pull-right"> </span></abbr></h2> 
				
				<hr>
			</div>
			
			<div *ngIf="noRidesFound" style="text-align: center">
				<h3>{{errmsg}} </h3>
				<span>Refresh to find new rides  <span (click)="refresh()" class="repeatIcon glyphicon glyphicon-refresh"> </span></span>
			 	<img (click)="refresh()" title="No active rides found. Click to refresh/load new incoming requests" style="cursor: pointer;" src="../assets/search.gif" alt="No rides found " width="100%">
			 	
			</div>
			<div *ngIf="successDiv" style="text-align: center">
			 	<img src="../assets/success.gif" alt="success --> " width="100%">
			 	<h4> Driver & Ambulance are successfully Assigned to the trip. </h4>
			 	<a href="/log" style="color: green"><h5 >Click Here To Track The Trips</h5></a>
			</div>
			<div *ngIf="falseDiv" style="text-align: center">
			 	<img src="../assets/fail2.gif" alt="error --> " width="100%">
			 	<h5>{{AcceptTripError}}</h5>
			 	<h4> Driver & Ambulance are not Assigned to the trip. </h4>
			 	<h5 (click)="reassignTrip()" style="cursor: pointer;color: green"><span class="glyphicon glyphicon-repeat"> </span> Try Again !</h5>
			</div>

			
			<div *ngIf="inRequest" class="inrequests">
				<div class="col-md-12 tabs" *ngFor="let lead of leads" >
					
					<table class="table transTable">
						<thead>
							<th width="40%"></th>
							<th width="60%"></th>
						</thead>
						<tr *ngIf="lead.trip.isScheduledBooking==true">
							<td>
								<p class="tag"><span class="glyphicon glyphicon-tag"></span> scheduled trip</p>
								<b class="pull-right"><br>Scheduled  : </b> 
							</td>
							<!-- <td>{{lead.trip.scheduledOnAppTime | date:'medium'}}</td> -->
							<td>
								<br><br>
								<span>{{lead.trip.scheduledOnAppTime | amFromUtc | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</span>  <span style="color: #ff3d00;font-size:20px;vertical-align: middle;" class="glyphicon glyphicon-time"></span>
								<br><small><b>( {{lead.trip.scheduledOnAppTime | amFromUtc | amCalendar}} )</b></small>
							</td>
						</tr>
						<tr>
							<td class="pull-right"><b>Requested : </b> </td>
							<td>{{lead.trip.createdAt | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</td>
						</tr>
						<tr>
							<td class="pull-right"><b>Emergency Type: </b> </td>
							<td>{{lead.trip.emergencyType | uppercase}}</td>
						</tr>
						<tr>
							<td class="pull-right"><b>Customer Location : </b> </td>
							<td>{{lead.trip.userAddress}} </td>
						</tr>
						<tr>
							<td class="pull-right"><b>Customer Name : </b> </td>
							<td>{{lead.trip.user.name}} </td>
						</tr>
						<tr>
							<td class="pull-right"><b>Mobile : </b> </td>
							<td>{{lead.trip.user.phoneNumber}}</td>
						</tr>
						
						<tr>
							<td colspan="2">
								<div>
									<agm-map [latitude]="lead.trip.location.coordinates[1]" [longitude]="lead.trip.location.coordinates[0]" [scrollwheel]="false" [zoom]="13">
							        <agm-marker [latitude]="lead.trip.location.coordinates[1]" [longitude]="lead.trip.location.coordinates[0]"></agm-marker>
							      </agm-map>
						      </div>
							</td>
						</tr>
						<tr>
							<td *ngIf="acceptreqButton==false" class="pull-right"><button title="You cannot accept this request (Note: driver & ambulance are not available )" class="btn btn-warning" style="    cursor: not-allowed;">driver & ambulance are not available</button></td>
							<td *ngIf="acceptreqButton==true" class="pull-right"><button title="Accept this request (Note: Please ensure driver & ambulance are available before accepting.)" class="btn btn-success" (click)="acceptRequest(lead.trip._id)" >Accept</button></td>
							<td><button class="btn btn-danger" title="Reject This request" (click)="rejectTrip(lead.trip._id)" >Reject</button></td>
						</tr>
						
					</table>
					<hr>
				</div>

			</div>

			<div *ngIf="ifAccepted" style="position: absolute;top:0px; background: #fff; height: 600px; overflow: auto ">
				<h2>{{errmsgAccept}} </h2>
				<div *ngIf="selectDriver">
				 <h2>Select Available Driver <abbr title="click to refresh the drivers list"><span class="repeatIcon glyphicon glyphicon-repeat pull-right" (click)="driverAmbulanceList('')"></span></abbr></h2>
					<table class="table table-stripped table-responsive">
					<thead style="border-bottom: 1px dashed #777; ">
						<th class="margin"><h5>Driver Name</h5></th>
						<th class="margin"><h5>Phone</h5></th>
						<th class="margin"><h5>Employee Id</h5></th>
						<th class="margin"><h5>Status</h5></th>
						<th class="margin"><h5>Category</h5></th>
						<th class="margin"></th>
					</thead>
					<tr  *ngFor="let driver of selectDriverList">
						<td>{{driver.username}}</td>
						<td>{{driver.phoneNumber}}</td>
						<td>{{driver.employeeId}} </td>
						<td>{{driver.driverStatus | uppercase}} </td>
						<td>{{driver.driverCategory | uppercase}} </td>
						<td><button class="btn btn-info" (click)="checkDriver(driver._id)">Select</button> </td>
					</tr>
					</table>
				</div>
				<div *ngIf="selectAmbulance">
				 <h2>Select Available Ambulance <span title="click to refresh the Ambulance list" class="repeatIcon glyphicon glyphicon-repeat pull-right" (click)="reSelectAmbulanceList()"></span></h2>
					<table class="table table-stripped table-responsive">
					<thead style="border-bottom: 1px dashed #777; ">
						<th class="margin"><h5>Ambulance Category</h5></th>
						<th class="margin"><h5>Vehicle No.</h5></th>
						<th class="margin"><h5>RC Number</h5></th>
						<th class="margin"><h5>Status</h5></th>
						<th class="margin"></th>
					</thead>
					<tr  *ngFor="let amb of selctAmbulanceList">
						<td>{{amb.ambulanceCategory |uppercase}}</td>
						<td>{{amb.vehicleNumber}}</td>
						<td>{{amb.rcNumber}} </td>
						<td>{{amb.ambulanceStatus |uppercase}} </td>
						<td><button class="btn btn-info" (click)="acceptTrip(amb._id)">Assign</button> </td>
					</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-4 profile">
			
			<h2>Drivers : <span title="Click to refresh the Drivers List" (click)="driverList()" class="repeatIcon glyphicon glyphicon-refresh pull-right"> </span></h2>
			<div class="list">
				
				<table class="table table-stripped table-responsive" style="font-size: 1em">
					<thead style="border-bottom: 1px dashed #777; ">

						<!-- <th title="Employee Id"><h5>EId</h5></th> -->
						<th class="margin" title="Driver's Name"><h5>Name</h5></th>
						<th class="margin" title="Driver's current status"><h5>Status</h5></th>
						<!-- <th title="Change driver's status"><h5>Update Status</h5></th> -->
						<th class="margin" title="Driver's mobile number"><h5>Phone</h5></th>
						<th class="margin" title="Driver's category"><h5>Category</h5></th>
						
					</thead>
						
					<tr  *ngFor="let driver of drivers" [ngSwitch]="driver.driverStatus">
						<!-- <td title="Employee Id">{{driver.employeeId}} </td> -->
						<td title="Driver's Name">{{driver.username}}</td>

						<td *ngSwitchCase="'offDuty'" [ngClass]="driver.driverStatus == 'isAvailable' ? 'blueText': 'redText'" title="Driver's current status"  >Off Duty </td>
						<td *ngSwitchCase="'onDuty'" [ngClass]="driver.driverStatus == 'isAvailable' ? 'blueText': 'redText'" title="Driver's current status"  >On Duty </td>
						<td *ngSwitchCase="'assigned'" [ngClass]="driver.driverStatus == 'isAvailable' ? 'blueText': 'redText'" title="Driver's current status"  >Assigned </td>
						<td *ngSwitchCase="'isAvailable'" [ngClass]="driver.driverStatus == 'isAvailable' ? 'blueText': 'redText'" title="Driver's current status"  >Available </td>

						<!-- <td [ngClass]="driver.driverStatus == 'isAvailable' ? 'blueText': 'redText'" title="Driver's current status"  >{{driver.driverStatus | uppercase}} </td> -->
						<!-- <td>
							<label class="switch" title="Change driver's status (Note : You cannot change the status when the driver is onDuty)">
							 <input *ngIf="driver.driverStatus=='isAvailable'" checked type="checkbox" (change)="updateDriverStatus(driver._id, $event)" >
							 <input *ngIf="driver.driverStatus=='onDuty'" disabled  type="checkbox" (change)="updateDriverStatus(driver._id, $event)" >
							 <input *ngIf="driver.driverStatus=='offDuty'" type="checkbox" (change)="updateDriverStatus(driver._id, $event)" >
							  <span class="slider round"></span>
							</label>
						</td> -->
						<td title="Driver's mobile number">{{driver.phoneNumber}}</td>
						<td title="Driver's category">{{driver.driverCategory | uppercase}} </td>
						
					</tr>
				
				

				</table>
			</div>
			<h2>Ambulances : <span (click)="ambulanceList()" title="Click to refresh the Ambulances List"  class="repeatIcon glyphicon glyphicon-refresh pull-right"> </span></h2>
			<div class="list">
			<table class="table table-stripped table-responsive" style="font-size: 1em">
					<thead style="border-bottom: 1px dashed #777; ">
						<th class="margin"><h5>Vehicle No.</h5></th>
						<th class="margin"><h5>Status</h5></th>
						<!-- <th class="margin"><h5>Update </h5></th> -->
						<th class="margin"><h5> Category</h5></th>
						<!-- <th><h5>RC Number</h5></th> -->	
					</thead>
					<tr  *ngFor="let amb of ambulance" [ngSwitch]="amb.ambulanceStatus">
						<td>{{amb.vehicleNumber}}</td>
					<!-- 	<td>{{amb.ambulanceStatus | uppercase}} </td> -->
					<td *ngSwitchCase="'isAvailable'" title="Ambulance's current status"  >Available </td>
					<td *ngSwitchCase="'assigned'" title="Ambulance's current status"  >Assigned </td>
					<td *ngSwitchCase="'onDuty'" title="Ambulance's current status"  >On Duty </td>
					<td *ngSwitchCase="'offDuty'" title="Ambulance's current status"  >Off Duty </td>
						<!-- <td>
							<label class="switch">
							 <input *ngIf="amb.ambulanceStatus=='isAvailable'" checked type="checkbox" (change)="updateAmbulanceStatus(amb._id, $event)" >
							 <input *ngIf="amb.ambulanceStatus=='onDuty'"  type="checkbox" (change)="updateAmbulanceStatus(amb._id, $event)" >
							 <input *ngIf="amb.ambulanceStatus=='offDuty'" type="checkbox" (change)="updateAmbulanceStatus(amb._id, $event)" >
							  <span class="slider round"></span>
							</label>
						</td> -->
						<td>{{amb.ambulanceCategory | uppercase}}</td>
						<!-- <td>{{amb.rcNumber}} </td> -->
					</tr>
				
				

				</table>
			</div>
			
		</div>

	</div>

	
</div>