<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="auth-main">
  <div class="auth-block" style="text-align: center">
  	<img src="../assets/bnb_logo.png" class="logo">
    <h3>Forgot Password</h3>
    <a [routerLink]="['/register']" class="auth-link">New to Breath & Beats ? Sign up!</a>

    	<form *ngIf="forgotPwd" class="form-horizontal" #f="ngForm" (ngSubmit)="forgotPassword(f.value)">
    	<div class="form-group">
		    <label for="username" class="col-sm-5 control-label">Please Enter Your 10 digit Phone Number</label>
		    <div class="col-sm-7">
		      <input [(ngModel)]="phoneNumber" type="text" name="phoneNumber" class="form-control" id="phoneNumber" placeholder="Phone Number" maxlength="10"  (keyup)="validateMobile($event)" required>

		      <small *ngIf="ErrorphoneNumber" class="error">Enter 10 digit  Phone number which should begin with 7 , 8 or 9</small>

		    </div>
		  </div>

		  <div class="form-group">
		    <div class="col-sm-offset-1 col-sm-10">
		      <input type="submit" class="btn btn-info" [disabled]="!f.valid" value="Send OTP">
		    </div>
		  </div>
		</form>

		<form *ngIf="verifyPwd" class="form-horizontal" #f="ngForm" (ngSubmit)="verifyPassword(f.value)">
    	<div class="form-group">
		    <label for="username" class="col-sm-5 control-label">Please Enter Your OTP</label>
		    <div class="col-sm-7">
		      <input [(ngModel)]="OTP" type="text" name="OTP" class="form-control" id="OTP" placeholder="Please Enter Your OTP" required>

		    </div>
		  </div>

		  <div class="form-group row" >
		        <label for="passwordemail" class="col-sm-5 control-label">New Password</label>

		        <div class="col-sm-7">
		          <input [(ngModel)]="newPassword" type="newPassword"  name="newPassword" class="form-control" id="newPassword" placeholder="Password" required>
		          <small *ngIf="Errorpassword" class="error">Enter newPassword</small>
		        </div>
		      </div>

		  <div class="form-group">
		    <div class="col-sm-offset-1 col-sm-10">
		      <input type="submit" class="btn btn-info" [disabled]="!f.valid" value="Change Password">
		    </div>
		  </div>
		</form>
		

 	<div class="alert alert-danger" role="alert" *ngIf="error"> {{msg}} </div>
  
  </div>

</div>