.ongoing{
	height: 500px;
	overflow: auto;
}

#map {
        height: 400px;
        width: 100%;
       }

       agm-map {
      height: 350px;
    }


    .fixedpage{
    position: fixed;
    bottom: 40px;
    z-index: 99;
}

.margin{
  padding: 6px;
}