<app-menu></app-menu>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div class="col-md-9 col-md-offset-3" style=" top: 60px">

	<div class="row">
	<h2>Log</h2>
	
	</div>
	<hr>

	<div class="" *ngIf="list">
		<div class="col-md-3"><label>Filter By Trip Status :</label></div>
		<div class="col-md-5">

			<select class="form-control" (change)="filter($event.target.value)">
				<option value="all" selected>All</option>
				<!-- <option value="pending">pending</option> -->
				<option value="accepted" >Accepted</option>
				<option value="assigned" >Assigned</option>
				<option value="ongoing" >Ongoing</option>
				<!-- <option value="rejected">rejected</option> -->
				<option value="completed">Completed</option>	
				<option value="cancelled_by_user">Cancelled By User</option>
				<!-- <option value="cancelled">cancelled</option>
				<option value="expired">expired</option> -->
			</select>
			<br>
		</div>
		<table class="table table-stripped table-responsive" style="font-size: 1em">
				<thead style="border-bottom: 1px dashed #777; ">
					<th class="margin">#</th>
					<th class="margin">Date</th>
					<th class="margin">Customer Name</th>
					<th class="margin">Phone</th>
					<th class="margin">Emergency Category</th>
					<th class="margin">Status</th>

				</thead>
				
				<tr  *ngFor="let trip of trips | paginate: { itemsPerPage: 10, currentPage: p } ; let i = index ">
	 				<td>{{i+1}}</td>
	 				<td>{{trip.createdAt | date:'medium'}}</td>
					<td>{{trip.user.name}}</td>
					<td>{{trip.user.phoneNumber}}</td>
					<td>{{trip.emergencyType | uppercase}}</td>
					<td>{{trip.tripStatus | uppercase}}</td>

					
					<td>
						<a href="/track/{{trip._id}}">
							<button *ngIf="trip.tripStatus=='ongoing'" type="button" class="btn btn-info">Track</button>
							<button *ngIf="trip.tripStatus=='completed'" type="button" class="btn btn-info">Track</button>
							<button *ngIf="trip.tripStatus=='assigned'" type="button" class="btn btn-info">Track</button>
						</a>
					</td>
					<!-- <div class="modal fade bs-example-modal-md" tabindex="-1" id="x" role="dialog" aria-labelledby="myLargeModalLabel">
					  <div class="modal-dialog modal-md" role="document">
					    <div class="modal-content">
					      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15553.224767381054!2d77.63642974999999!3d12.9522485!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1509605645655" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					    </div>
					  </div>
					</div> -->
				</tr>

		</table>
		<div>
			<pagination-controls (pageChange)="p = $event"></pagination-controls>
		</div>
	</div>
	

	<div *ngIf=detailsStatus>
		<div class="col-md-6">
			<p>
				<b>Date : </b> {{tripTrack.createdAt}} <br>
				<b>Customer Name : </b> {{tripTrack.user.name}} <br>
				<b>Phone : </b> {{tripTrack.user.phoneNumber}}<br>
				<b>Emergency Category : </b> {{tripTrack.emergencyType}} <br>
			</p>	
		</div>
		<div class="col-md-6">
			<p>
				<b>Trip Status : </b> {{tripTrack.tripStatus}} <br>
				<b>driver Name : </b> {{tripTrack.driver.username}}<br>
				<b>driver phoneNumber : </b> {{tripTrack.driver.phoneNumber}}<br>
				<b>Vehicle Number : </b> {{tripTrack.ambulance.vehicleNumber}} <br>
			</p>	
		</div>
	<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
	        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
	      </agm-map>
</div>