<div class="auth-main">
  <div class="auth-block">
    <h2>Sign up to Breadth & Beats</h2>
    <a [routerLink]="['/login']" class="auth-link">Already have an BNB Hospital account? Sign in!</a>

    <form #f="ngForm" (ngSubmit)="registerSubmit(f.value)" class="form-horizontal">

      <div class="form-group row" [ngClass]="{'has-error': (!hospitalName.valid && hospitalName.touched), 'has-success': (hospitalName.valid && hospitalName.touched)}">
        <label for="hospitalName" class="col-sm-2 control-label">Hospital</label>

        <div class="col-sm-10">
          <input [(ngModel)]="hospitalName"  name="hospitalName" type="text" class="form-control" id="hospitalName" placeholder="Hospital Name">
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': (!username.valid && username.touched), 'has-success': (username.valid && username.touched)}">
        <label for="username" class="col-sm-2 control-label">Username</label>

        <div class="col-sm-10">
          <input [(ngModel)]="username" type="text" class="form-control" id="username" placeholder="Username">
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <label for="passwordemail" class="col-sm-2 control-label">Password</label>

        <div class="col-sm-10">
          <input [(ngModel)]="password" type="password" class="form-control" id="passwordemail" placeholder="Password">
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': (!phoneNumber.valid && phoneNumber.touched), 'has-success': (phoneNumber.valid && phoneNumber.touched)}">
        <label for="phoneNumber" class="col-sm-2 control-label">Phone</label>

        <div class="col-sm-10">
          <input [(ngModel)]="phoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': (!address.valid && address.touched), 'has-success': (address.valid && address.touched)}">
        <label for="address" class="col-sm-2 control-label">Address</label>

        <div class="col-sm-10">
          <textarea [(ngModel)]="address" type="text" class="form-control" id="address" placeholder="Address"></textarea>
          
        </div>
      </div>


      <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
        <label for="email" class="col-sm-2 control-label">Email</label>

        <div class="col-sm-10">
          <input [(ngModel)]="email" type="email" class="form-control" id="email" placeholder="Email">
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': (!category.valid && category.touched), 'has-success': (category.valid && category.touched)}">
        <label for="category" class="col-sm-2 control-label">Category</label>

        <div class="col-sm-10">
          <select [(ngModel)]="category" class="form-control" id="category">
            <option selected disabled>Select Category</option>
            <option value="hospital">Hospital</option>
            <option value="clinic">Clinic</option>
          </select>
        </div>
      </div>

      <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Sign in</button>
		    </div>
		  </div>
    </form>

   
     
  </div>
</div>
