<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="auth-main">
  <div class="auth-block">
    <h2>Sign up to <img src="../assets/bnb_logo.png" class="logo"></h2>
     <!-- <div class="container">
      <h1>Angular 2 + Google Maps Places Autocomplete</h1>
      <div class="form-group">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      </div>
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
    </div> -->
    <div class="row">
    	<div class="col-md-6">
    		<form #f="ngForm" (ngSubmit)="submit(f.value)" class="form-horizontal" > 

		      <div class="form-group row" >
		        <label for="hospitalName" class="col-sm-3 control-label">Hospital</label>

		        <div class="col-sm-9">
		          <input [(ngModel)]="hospitalName"  name="hospitalName" type="text" class="form-control" id="hospitalName" placeholder="Hospital Name">
		          <small *ngIf="ErrorhospitalName" class="error">Enter Hospital name</small>
		        </div>
		      </div>

		      <div class="form-group row">
		        <label for="phoneNumber" class="col-sm-3 control-label">Phone (Landline)</label>

		        <div class="col-sm-9">
		          <input [(ngModel)]="HospphoneNumber" type="text" name="HospphoneNumber" class="form-control" id="HospphoneNumber" placeholder="Hospital Landline Phone Number" maxlength="15">
		          <small *ngIf="ErrorHospphoneNumber" class="error">Enter valid Hospital Phone number </small>
		        </div>
		      </div>

		      <div class="form-group row" >
		        <label for="username" class="col-sm-3 control-label">Username</label>

		        <div class="col-sm-9">
		          <input [(ngModel)]="username" type="text" name="username" class="form-control" id="username" placeholder="Username">
		          <small *ngIf="Errorusername" class="error">Enter Username name</small>
		        </div>
		      </div>

		      <div class="form-group row" >
		        <label for="passwordemail" class="col-sm-3 control-label">Password</label>

		        <div class="col-sm-9">
		          <input [(ngModel)]="password" type="password"  name="password" class="form-control" id="passwordemail" placeholder="Password">
		          <small *ngIf="Errorpassword" class="error">Enter Password</small>
		        </div>
		      </div>

		      <div class="form-group row">
		        <label for="phoneNumber" class="col-sm-3 control-label">Admin Mobile Number</label>

		        <div class="col-sm-9">
		          <input [(ngModel)]="phoneNumber" type="text" name="phoneNumber" class="form-control" id="phoneNumber" placeholder="Phone Number" maxlength="10">
		          <small *ngIf="ErrorphoneNumber" class="error">Enter 10 digit  Phone number which should begin with 7 , 8 or 9</small>
		        </div>
		      </div>

		      <div class="form-group row" >
		        <label for="address" class="col-sm-3 control-label">Address</label>

		        <div class="col-sm-9">
		           <textarea placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl" [(ngModel)]="address" [(value)]="completeAddr"></textarea>
		           <small *ngIf="Erroraddress" class="error">Enter Hospital Address</small>

		        </div>
		      </div>


		      <div class="form-group row">
		        <label for="email" class="col-sm-3 control-label">Email</label>

		        <div class="col-sm-9">
		          <input [(ngModel)]="email" type="email" name="email" class="form-control" id="email" placeholder="Email" required>
		          <small *ngIf="Erroremail" class="error">Enter valid Hospital email</small>
		        </div>
		      </div>

		      <div class="form-group row" >
		        <label for="category" class="col-sm-3 control-label">Category</label>

		        <div class="col-sm-9">
		          <select [(ngModel)]="category" class="form-control" name="category" id="category" placeholder="Select Category">
		            <option value="" selected disabled>Select Category</option>
		            <option value="hospital">Hospital</option>
		            <option value="clinic">Private Ambulance Service</option>
		          </select>
		          <small *ngIf="Errorcategory" class="error">Select category</small>
		        </div>
		      </div>

		      <div class="form-group row">
		        <label for="certificateNo" class="col-sm-5 control-label">Establishment Certificate Number</label>

		        <div class="col-sm-7">
		          <input [(ngModel)]="certificateNo" type="text" name="certificateNo" class="form-control" id="certificateNo" placeholder="Established Certificate Number" required>
		          <small *ngIf="ErrorcertificateNo" class="error">Enter certificate number</small>
		        </div>
		      </div>

		      <div class="form-group row">
		        <label for="file" class="col-sm-5 control-label">Establishment Certificate (jpeg / png)</label>

		        <div class="col-sm-7">
		          <input [(ngModel)]="file" (change)="fileUpload($event)" type="file" name="file" class="form-control"  #myInput placeholder="Established Certificate" required accept=".jpg, .jpeg, .png">
		          <small *ngIf="fileError" class="error">Select file (Note: please select .jpg .png or .jpeg formats only)</small>
		        </div>
		      </div>
		      <h5 style="color: red;">{{errmsg}}</h5>
		      <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button  type="submit" class="btn btn-info" >Sign Up</button>
				    </div>
				  </div>
				<br><br>
				  
		    </form>
    	</div>
    	<div class="col-md-6">
    		<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
	        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
	      </agm-map>
	      <br><br>
	      <a [routerLink]="['/login']" class="auth-link"><h3>Already have an Hospital account? Sign in! </h3></a>
    
    	</div>
    </div>
    

   
     
  </div>
</div>

<script>
        angular.module('example', ['google.places'])
                // Setup a basic controller with a scope variable 'place'
                .controller('MainCtrl', function ($scope) {
                    $scope.place = null;
                });
</script>